.log {
  position: absolute;
  height: 10rem;
  width: 10rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border: 1px solid black;
  overflow: scroll;
}

h2 {
  border-bottom: 1px solid white;
  margin: 0.2rem;
}