.container {
  width: 100%;
  padding: 0 1rem;
}

.block {
  color: red;
  // margin-top: 50vh;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  line-height: 3rem;
  border-bottom: 1px solid gray
}

.block {
  border: 1px solid gray;

}

.ability-list {
  height: 15rem;
}

button {
  color: blue;
  padding: 0.5rem;
  border: 1px solid gray;
}