.container {
  width: 100%;
  padding: 0 1rem;
}

.block {
  color: red;
  margin-top: 50vh;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

.block {
  border: 1px solid gray;

}

.ability-list {
  div {
    border: 1px solid gray;
    margin: 1rem;
    padding: 1rem;
  }
}