
button {
  cursor: pointer;
}

.close-cog {
  font-size: 1.4rem;
  margin: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  color: gray;
  transition: all 0.3s ease-in-out 0s
}

.close-cog:hover {
  animation: rotation 3s infinite ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.navbar-nav {
  align-items: center;
}

.color-set > label {
  margin: 0;
}

a, button {
  font-family: 'Nanum Gothic';
}